<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dontforgetbirthdayproject">

    <!--ACCESS_NETWORK_STATE 인터넷 연결 확인을 위해 추가-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--setExactAndAllowWhileIdle 때문에 안드로이드 12 이상 타겟팅 시 밑에 있는 권한 추가해야함-->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="잊지마 내생일"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DontForgetBirthDayProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <!-- usesCleartextTraffic 회원가입 db 작업후 버튼 무반응일경우 넣으라 함 -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="true" />
        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>